<h1>Shelter Index Page</h1>

<% @shelters.each do |shelter| %>
  <h2><br><%= link_to "#{shelter.name}", "/shelters/#{shelter.id}" %></br></h2>
  <%= link_to "Update #{shelter.name}", "/shelters/#{shelter.id}/edit" %>
  <%= link_to "Delete #{shelter.name}", "/shelters/#{shelter.id}", method: :delete %>
<% end %>
<br></br>
<h3><%= link_to 'Create new shelter', '/shelters/new' %></h3>
